<% provide :title, t("help.title") %>
<h1><%= t("help.title") %></h1>
<p>
  <%= t "help.content" %>
  <%= link_to t("links.link_rails_help_desc"), Settings.links.link_rails_help %>
  <%= t "help.content2" %>
  <%= link_to t("links.link_rails_desc"), Settings.links.link_rails_book %>
</p>
