<% provide :title, t("home.title") %>
<div class = "center jumbotron">
  <h1><%= t "home.title" %></h1>
  <p>
    <%= t "home.content" %>
    <%= link_to t("links.link_rails_desc"), Settings.links.link_rails %>
  </p>
  <%= link_to t("links.link_sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.links.link_rails %>
<%= link_to image_tag("kitten.jpg", alt: "Kitten"), Settings.links.link_rails %>
